<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techbros.sachin.dooremedy">

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dooremedy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".HomeActivity" />

        <activity
            android:name=".HomeActivity"
            android:label="Search City">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_city" />
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".ServiceActivity"
            android:label="Select Service" />
        <activity
            android:name=".EmployeeActivity"
            android:label="Select" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".QueryActivity" />
        <activity android:name=".BookingConfirmationActivity" />
        <activity
            android:name=".AccountActivity"
            android:label="My Account" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutAppActivity"></activity>
    </application>

</manifest>